main {
  min-height: 80vh;
}

h3 {
  padding: 1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.rating {
  min-height: 6vh;
}

.card-title {
  min-height: 6vh;
}

@media (max-width: 400px) {
  .rating {
    min-height: 2vh;
  }

  .card-title {
    min-height: 2vh;
  }
}

@media (max-width: 500px) {
  .rating {
    min-height: 2vh;
  }

  .card-title {
    min-height: 2vh;
  }
}

@media (max-width: 1000px) {
  .rating {
    min-height: 5vh;
  }

  .card-title {
    min-height: 5vh;
  }
}

a.dropdown-item.active {
  background-color: #343a40 !important ;
  color: white !important;
}

.page-item.active a {
  background-color: #343a40 !important;
  border: none;
  color: white !important;
  margin-bottom: 0 !important;
}

.active.page-item span {
  background-color: #343a40 !important;
  border: none;
  color: white !important;
  margin-bottom: 0 !important;
}

.page-item a {
  color: #343a40;
}

.carousel-inner {
  height: 30vh;
}
.carousel-inner img {
  height: 65% !important;
  border-radius: 50%;
  display: block;
}

.carousel-inner h2 {
  display: block;
  bottom: 0;
}

.carousel-inner {
  display: flex;
  align-content: space-around;
}
